Node-RED_Flows/Lab2_Flow.json
[{"id":"822cf5c3.e01418","type":"inject","z":"97d4de4a.51283","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["f838910f.90aa9"]]},{"id":"f838910f.90aa9","type":"file in","z":"97d4de4a.51283","name":"","filename":"/tmp/volt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":320,"wires":[["fea4f866.5790c8"]]},{"id":"fea4f866.5790c8","type":"ui_gauge","z":"97d4de4a.51283","name":"","group":"f12c051f.70a7f8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Volts","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":220,"wires":[]},{"id":"f12c051f.70a7f8","type":"ui_group","name":"gage","tab":"ee7a3b24.d10508","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee7a3b24.d10508","type":"ui_tab","name":"lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]