Node-RED_Flows/Lab3_flow.json
[{"id":"a3043a63.1ba758","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"54db969b.dc20c8","type":"ui_chart","z":"a3043a63.1ba758","name":"Forward Velocity Graph","group":"3267b442.960b2c","order":1,"width":0,"height":0,"label":"Forward Velocity","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":120,"wires":[[]]},{"id":"f26a404a.569cc","type":"inject","z":"a3043a63.1ba758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["e322e13b.21f79","b65a1694.861fb8"]]},{"id":"e322e13b.21f79","type":"file in","z":"a3043a63.1ba758","name":"","filename":"/tmp/velocity","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":120,"wires":[["54db969b.dc20c8"]]},{"id":"b65a1694.861fb8","type":"file in","z":"a3043a63.1ba758","name":"","filename":"/tmp/angular","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":260,"wires":[["69e96480.1563bc"]]},{"id":"69e96480.1563bc","type":"ui_chart","z":"a3043a63.1ba758","name":"Angular Velocity Graph","group":"3267b442.960b2c","order":2,"width":0,"height":0,"label":"Angular Velocity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":260,"wires":[[]]},{"id":"3267b442.960b2c","type":"ui_group","name":"x_dot_theta_dot","tab":"ee7a3b24.d10508","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee7a3b24.d10508","type":"ui_tab","name":"lab 3","icon":"dashboard","order":1,"disabled":false,"hidden":false}]