Node-RED_Flows/lab_5_flow_1.json
[{"id":"a3595168.0e4d9","type":"tab","label":"Lab 5","disabled":false,"info":""},{"id":"ae53b370.13257","type":"inject","z":"a3595168.0e4d9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["1a332e8.8d682d2","4054efe0.9f8a9","6c329129.ff84c","6433ed7d.901ce4","17d842e4.5d541d"]]},{"id":"1a332e8.8d682d2","type":"file in","z":"a3595168.0e4d9","name":"","filename":"/tmp/volt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":140,"wires":[["450dfa9c.f2f2b4"]]},{"id":"450dfa9c.f2f2b4","type":"ui_gauge","z":"a3595168.0e4d9","name":"","group":"6d318eb.14daa7","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#aa0e16","#e6e600","#44c814"],"seg1":"10","seg2":"11","x":540,"y":140,"wires":[]},{"id":"4054efe0.9f8a9","type":"file in","z":"a3595168.0e4d9","name":"","filename":"/tmp/m","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":200,"wires":[["ddeda4fb.73b658"]]},{"id":"6c329129.ff84c","type":"file in","z":"a3595168.0e4d9","name":"","filename":"/tmp/deg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":260,"wires":[["67e6c0b3.10ef8"]]},{"id":"6433ed7d.901ce4","type":"file in","z":"a3595168.0e4d9","name":"","filename":"/tmp/x","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":320,"wires":[["5b076042.add62"]]},{"id":"5b076042.add62","type":"ui_chart","z":"a3595168.0e4d9","name":"","group":"d52c6d8f.d8d55","order":2,"width":0,"height":0,"label":"x vs time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":320,"wires":[[]]},{"id":"39b9ab22.b26764","type":"ui_chart","z":"a3595168.0e4d9","name":"","group":"d52c6d8f.d8d55","order":3,"width":0,"height":0,"label":"y vs time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":380,"wires":[[]]},{"id":"67e6c0b3.10ef8","type":"ui_gauge","z":"a3595168.0e4d9","name":"","group":"2064ad55.0c16a2","order":0,"width":0,"height":0,"gtype":"compass","title":"Compass","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":260,"wires":[]},{"id":"ddeda4fb.73b658","type":"ui_chart","z":"a3595168.0e4d9","name":"","group":"2064ad55.0c16a2","order":1,"width":0,"height":0,"label":"Meters Vs Time","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":200,"wires":[[]]},{"id":"17d842e4.5d541d","type":"file in","z":"a3595168.0e4d9","name":"","filename":"/tmp/y","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":380,"wires":[["39b9ab22.b26764"]]},{"id":"6d318eb.14daa7","type":"ui_group","name":"Robot Voltage","tab":"844ad755.c96448","order":1,"disp":true,"width":"6","collapse":false},{"id":"d52c6d8f.d8d55","type":"ui_group","name":"X and Y","tab":"9a20cfc2.e2941","order":2,"disp":true,"width":"6","collapse":false},{"id":"2064ad55.0c16a2","type":"ui_group","name":"Lab 5 part 1","tab":"9a20cfc2.e2941","order":1,"disp":true,"width":"6","collapse":false},{"id":"844ad755.c96448","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9a20cfc2.e2941","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]