basics/computer_vision/flows.json
[{"id":"97d4de4a.51283","type":"tab","label":"Lab 2","disabled":false,"info":""},{"id":"822cf5c3.e01418","type":"inject","z":"97d4de4a.51283","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["f838910f.90aa9"]]},{"id":"f838910f.90aa9","type":"file in","z":"97d4de4a.51283","name":"","filename":"/tmp/volt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":240,"wires":[["fea4f866.5790c8"]]},{"id":"fea4f866.5790c8","type":"ui_gauge","z":"97d4de4a.51283","name":"","group":"7a54cc33.8168c4","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":240,"wires":[]},{"id":"7a54cc33.8168c4","type":"ui_group","name":"Robot Voltage","tab":"9a20cfc2.e2941","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a20cfc2.e2941","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]